@model Cart
@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AddCart</title>
</head>
<body>
   

    <div class="p-3 mb-2 bg-primary text-white"> <h1> Add Cart </h1> </div>
    <form asp-action="AddCart" asp-controller="Cart">
        <div class="input-group mb-3">
            <span class="input-group-text" id="inputGroup-sizing-default">Card No</span>
            <input asp-for="creditcardnumber" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="inputGroup-sizing-default">Address</span>
            <input asp-for="address" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
        </div>

        <a asp-action="Message" asp-controller="Cart" class="btn btnalert-success">OK</a>

    </form>


</body>
</html>
