
@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Message</title>
</head>
<body>
    <img src="https://th.bing.com/th/id/R.7e3f440e9156a9c02465bf77c97d70d8?rik=rQTAkoJ7NpgLiw&riu=http%3a%2f%2fstatic.skaip.org%2fimg%2femoticons%2f180x180%2ff6fcff%2flike.gif&ehk=OD%2fa2Rpr97mUCoNV%2fo80erdgCdryijR6otNzYmou%2boo%3d&risl=&pid=ImgRaw&r=0" class="img-fluid rounded-start" />

    <div class="p-3 mb-2 bg-primary text-white"> <h1>Thanks ! We  will contact you . </h1> </div>
    
</body>
</html>
